<div class="card">
  <div class="card-header">
    <div class="card-title-wrap bar-success">
      <h4 class="card-title" id="horz-layout-basic">General Settings Form</h4>
    </div>
    <p class="mb-0">
      This is the basic horizontal form with labels on left and cost estimation
      form is the default position.
    </p>
  </div>
  <div class="card-body">
    <div class="px-3">
      <form class="form form-horizontal">
        <div class="form-body">
          <h4 class="form-section">
            <i class="icon-user"></i>General information
          </h4>
          <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput1"
              >The extra:
            </label>
            <div class="col-md-9">
              <input
                type="text"
                id="projectinput1"
                class="form-control"
                name="extra"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput2">
              Discount:
            </label>
            <div class="col-md-9">
              <input
                type="text"
                id="projectinput2"
                class="form-control"
                name="
                            Discount"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput7"
              >Weekly Holidays:
            </label>
            <div class="col-md-9">
              <form action="/action_page.php">
                <input type="checkbox" id="vehicle1" name="sat" />
                <label for="sat"> Satrday</label><br />
                <input type="checkbox" id="vehicle2" name="sun" />
                <label for="sun"> Sunday</label><br />
                <input type="checkbox" id="vehicle3" name="mon" />
                <label for="mon"> Monday</label><br />
                <input type="checkbox" id="vehicle2" name="sun" />
                <label for="sun"> Tuesday</label><br />
                <input type="checkbox" id="Tue" name="Tue" />
                <label for="sun"> Turthday</label><br />
                <input type="checkbox" id="Tue" name="Tue" />
                <label for="Fri">Friday</label><br />
              </form>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-danger mr-1">
            <i class="icon-trash"></i> Cancel
          </button>
          <button type="button" class="btn btn-success">
            <i class="icon-note"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
